html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

p {
  text-align: center;
  font-style: italic;
  margin: 1em;
}

path {
  fill: #D8DEE9;
  stroke: none;
}

svg {
  height: 300px;
}
