body {
    background: #ECEFF4;
}

h2 {
    font-family: 'Saira Semi Condensed', sans-serif;
    margin: 15px;
    color: #2E3440;
}

.canvaTriangle {
    margin-left: 105px;
}

#building {
    width: 349px;
    height: 277px;
    position: absolute;
    left: 50%;
    margin: 80px 0 0 -175px;
    cursor: pointer;
}